* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link-style {
  text-decoration: none;
  color: Blue;
  &:hover {
    color: red;
    cursor: pointer;
  }
}

body {
  .home {
    text-align: center;
  }
  .user-list,
  .user-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      padding-bottom: 5px;
      font-size: 20px;
      font-weight: 500;
    }
    h2 {
      text-decoration: underline;
      margin-bottom: 20px;
    }
    pre {
      font-size: 16px;
    }
  }
  .nav-bar {
    padding: 10px 0;
    hr {
      height: 3px;
      background-color: black;
      border: none;
    }
    ul {
      display: flex;
      justify-content: center;
      column-gap: 30px;
      margin-bottom: 10px;
      :first-child {
        list-style: none;
      }
      li {
        font-size: 20px;
      }
    }
  }
}
